/*
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/

.img {
  background-image: url("./IMAGES/BDY.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
body {
  
  background: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 0px 50px;
  overflow: visible;
}
#wish {
  margin-top: 30px;
  font-size: 24px;
  color: #172c66fd;
  display: none;
}
video{
  margin-top: 10px;
}

p{
  font-size:30px;
  font-weight:350;
  margin-top:10px;
}

button {
  margin-top: 30px;
  padding: 30px 30px;
  font-size: 18px;
  background-color: #172c66fd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #172c66d6;
}
h1{
  text-align: center;
}

  /* Swiper paragraph slider 
.mySwiper {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

.mySwiper h4 {
  font-size: 1.2rem;
  color:#172c66fd;
  line-height: 1.6;
  font-weight: 500;
}
 Make navigation buttons visible 
.swiper-button-next,
.swiper-button-prev {
  color:#172c66fd;
  font-weight: bold;
  transition: 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  color:#1750edd3;
}
*/